@mixin backgroundImage($image-path, $position: center, $size: cover, $repeat: no-repeat) {
    background-image: url($image-path);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
  }